*{
	outline:0;
	margin:0;
	border:0;
	padding:0;
}

html, body{
	height:100%;
}

body{
	overflow-y:scroll;
	font-size:13pt;
	font-family:Inconsolata;
}

canvas#main{
	background-color:black;
	margin:0 auto;
	width:160px;
	height:160px;
}

body{
	padding:10px;
}
button{
	padding:10px;
	margin:10px 0;
	font-size:15pt;
	border-radius:10px;
	border:solid 1px grey;
}
button:hover{
	background-color:yellow;
}
button:active{
	background-color:green;
}